---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import { ViewTransitions } from 'astro:transitions';
import { aboutData } from '../utils/data/aboutData';
---
<ViewTransitions />
<Layout title="Home Page" >
    <section class="about">
        <h1>About</h1>
        <div class="wrapper">
            <div class="item about_content">
                <div class="left_content">
                    <Card full_height={false} body={aboutData.text} title={aboutData.title}>
                        <div class="card_footer" slot="footer">
                            <Button text='CV' href='/documents/cv.pdf' download='JorgeValeroCV'></Button>
                        </div>
                    </Card>
                </div>
            </div>
            <div class="item img_item">
                <div class="right_content">
                    <div class="img">
                        <img src="/images/profile/Pixel_Art_Perfil_no_frame.png" alt="" transition:name="profile_img">
                    </div>
                </div>
            </div>
            <div class="item empty_item">
                <p></p>
            </div>
            <div class="item back_item">
                <div class="back_button">
                    <Button text='Back' href='/home'></Button>
                </div>
            </div>
        </div>
    </section>
    <div class="stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</Layout>
<style>
    .about {
        color: var(--primary_text);
        padding: 100px;
        height: 100%;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
    .wrapper {
        margin-top: 25px;
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 50px;
    }
    .item {
        color: #fff;
        display: grid;
        place-items: center;
    }
    .about_conten {
        order: 1;
    }
    .img_item {
        order: 2;
    }
    .empty_item {
        order: 3;
    }
    .back_item {
        order: 4;
    }
    .last {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
    
        /* Shorthand */
        grid-column: 1 / 4;
        grid-row: 4 / 4;
    }
    .left_content {
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
    }
    .right_content{
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
    }
	.img{
        width: 100%;
		border-radius: 25%;
	}
	.img img{
        width: 100%;
		border-radius: 50%;
        border: 2px solid var(--border);
	}
    .card_footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .back_button {
        width: 100%;
        display: grid;
        justify-content: space-around;
    }
	@media only screen and (max-width: 900px) {
        .wrapper {
            grid-template-columns: 1fr;
            gap: 0px;
        }
        .about_conten {
            order: 2;
        }
        .img_item {
            order: -1;
            justify-content: space-around;
        }
        .img img{
            max-width: 200px;
        }
	}
    .stars > * {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-size: 200px 200px;
        background-image: radial-gradient(
        3px 3px at 40px 60px,
        #ccc,
        rgba(0, 0, 0, 0)
        ),
        radial-gradient(2px 2px at 20px 50px, #ddd, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 30px 100px, #eee, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 40px 60px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 110px 90px, #ccc, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 190px 150px, #ddd, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 90px 123px, #ddd, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 25px 200px, #ddd, rgba(0, 0, 0, 0));
        background-repeat: repeat;
        transform-origin: 50% 50%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: rotateAnimation;
    }

    .stars > *:nth-child(1) {
        animation-duration: 30s;
    }

    .stars > *:nth-child(2) {
        animation-duration: 32s;
    }

    .stars > *:nth-child(3) {
        animation-duration: 35s;
    }

    .stars > *:nth-child(4) {
        animation-duration: 41s;
    }

    .stars > *:nth-child(5) {
        animation-duration: 44s;
    }

    .stars > *:nth-child(6) {
        animation-duration: 49s;
    }

    .stars > *:nth-child(7) {
        animation-duration: 52s;
    }

    .stars > *:nth-child(8) {
        animation-duration: 56s;
    }
    @keyframes rotateAnimation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
</style>