---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import { ViewTransitions } from 'astro:transitions';
import { aboutData } from '../utils/data/aboutData';
import StarsBackground from '../components/StarsBackground.astro';
import Box from '../components/Box.astro';
---
<ViewTransitions />
<Layout title="Jorge Valero portfolio | About" >
    <section class="about">
        <h1>Sobre mí</h1>
        <div class="wrapper">
            <div class="item about_content">
                <div class="left_content">
                    <Card full_height={false} body={aboutData.text} title={aboutData.title}>
                        <div class="card_footer" slot="footer">
                            <div class="card_footer_cv_button">
                                <Button text='CV' href='/documents/cv.pdf' download='JorgeValeroCV'></Button>
                            </div>
                            <div class="card_footer_social">
                                <Box link='https://www.linkedin.com/in/jorge-valero-martín-625359176'>
                                    <div class="box_icon" slot="box_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                            <path d="M8 11l0 5"></path>
                                            <path d="M8 8l0 .01"></path>
                                            <path d="M12 16l0 -5"></path>
                                            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                                         </svg>
                                    </div>
                                </Box>
                                <Box link='https://github.com/jvaler01'>
                                    <div class="box_icon" slot="box_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
                                        </svg>
                                    </div>
                                </Box>
                            </div>
                        </div>
                    </Card>
                </div>
            </div>
            <div class="item img_item">
                <div class="right_content">
                    <div class="img">
                        <img src="/images/profile/Pixel_Art_Perfil_no_frame.png" alt="" transition:name="profile_img">
                    </div>
                </div>
            </div>
        </div>
        <div class="back_button" transition:name="back_button">
            <Button text='Atrás' href='/home'></Button>
        </div>
    </section>
    <StarsBackground></StarsBackground>
</Layout>
<style>
    .about {
        color: var(--primary_text);
        padding: 100px;
        height: 100%;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
    .wrapper {
        margin-top: 25px;
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 50px;
    }
    .item {
        color: #fff;
        display: grid;
        place-items: center;
    }
    .about_conten {
        order: 1;
    }
    .img_item {
        order: 2;
    }
    .last {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
    
        /* Shorthand */
        grid-column: 1 / 4;
        grid-row: 4 / 4;
    }
    .left_content {
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
    }
    .right_content{
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
    }
	.img{
        width: 100%;
		border-radius: 25%;
	}
	.img img{
        width: 100%;
		border-radius: 50%;
        border: 2px solid var(--border);
	}
    .card_footer{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 65px;
        margin-top: 65px;
    }
    .card_footer_cv_button{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .card_footer_social{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 0px 25px;
    }
    .card_footer_social .box_icon {
        display: grid;
    }
    .back_button {
        position: fixed;
        right: 15px;
        bottom: 15px;
    }
	@media only screen and (max-width: 900px) {
        .about{
            padding: 80px 50px;
        }
        .wrapper {
            grid-template-columns: 1fr;
            gap: 0px;
        }
        .about_conten {
            order: 2;
        }
        .img_item {
            order: -1;
            justify-content: space-around;
        }
        .img img{
            max-width: 200px;
        }
        .back_button {
        position: fixed;
        right: 15px;
        top: 15px;
        height: 70px;
        }
	}
</style>