---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Loader from '../components/Loader.astro';
import { ViewTransitions } from 'astro:transitions';
import StarsInBackground from '../components/StarsInBackground.astro';


---

<ViewTransitions />
<Layout title="Jorge Valero portfolio">
	<main>
		<div class="container_home">
			<div class="img">
				<!-- <img src="https://placehold.co/200" alt="" transition:name="profile_img"> -->
				<img src="/images/profile/Pixel_Art_Perfil_no_frame.png" alt="" transition:name="profile_img">
			</div>
			<div class="button_home" id="home" transition:name="back_button">
				<Button text='Entrar'></Button>
			</div>
			<div class="loader_home none" id="containerLoader" transition:name="back_button">
				<Loader id='indexLoader' show={false}></Loader>
			</div>
			<a href="/home" id="test" style="display: none;"> test </a>
		</div>
	</main>
	<StarsInBackground></StarsInBackground>
</Layout>
<style>
	main {
		margin: auto;
		height: 100%;
		min-height: 100vh;
	}
	.img{
		border-radius: 25%;
		z-index: 2;
	}
	.img img{
		border-radius: 50%;
		max-width: 200px;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text_gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.container_home {
		height: 100%;
		min-height: 100vh;
		display: grid;
		justify-items: center;
		align-content: center;
		gap: 5%;
		-webkit-transition: 1s ease-in-out;
		-moz-transition: 1s ease-in-out;
		-o-transition: 1s ease-in-out;
		transition: 1s ease-in-out;
	}
	.loader_home{
    height: 257px;
		position: relative;
		-webkit-transition: 1s ease-in-out;
		-moz-transition: 1s ease-in-out;
		-o-transition: 1s ease-in-out;
		transition: 1s ease-in-out;
	}
	.none{
		display: none;
	}
	.hide {
		transition-delay: 0.5s;
		transform: translateY(-100vh);
	}
	.button_home{
    height: 257px;
		position: relative;
		z-index: 2;
	}
</style>
<script>
	document.addEventListener('astro:page-load', () => {
		const button = document.getElementById('home');
		button!.addEventListener('click', () => {
			button!.style.display = "none";
			document.getElementById('indexLoader')!.style.display = "block";
			document.getElementById('containerLoader')!.classList.toggle('none');
			/* setTimeout(() => {
    			document.getElementById('containerLoader')!.classList.toggle('hide');
			}, 3000); */
			setTimeout(() => {
				document.getElementById('test')?.click();
			}, 4150);
		});
  	}, { once: false });
</script>