---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Loader from '../components/Loader.astro';
import { ViewTransitions } from 'astro:transitions';


---

<ViewTransitions />
<Layout title="Astro portfolio">
	<main>
		<div class="container_home">
			<div class="img">
				<img src="https://placehold.co/200" alt="" transition:name="profile_img">
			</div>
			<div class="button_home" id="home">
				<Button text='Start'></Button>
			</div>
			<div class="loader_home none" id="containerLoader">
				<Loader id='indexLoader' show={false}></Loader>
			</div>
			<a href="/home" id="test" style="display: none;"> test </a>
		</div>
	</main>
	<div class="background_index">
		<div class="stars_index"></div>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		height: 100%;
		min-height: 100vh;
	}
	.img{
		border-radius: 25%;
	}
	.img img{
		border-radius: 50%;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.container_home {
		height: 100%;
		min-height: 100vh;
		display: grid;
		justify-items: center;
		align-content: center;
		gap: 5%;
		-webkit-transition: 1s ease-in-out;
		-moz-transition: 1s ease-in-out;
		-o-transition: 1s ease-in-out;
		transition: 1s ease-in-out;
	}
	.loader_home{
    	height: 257px;
		position: relative;
		-webkit-transition: 1s ease-in-out;
		-moz-transition: 1s ease-in-out;
		-o-transition: 1s ease-in-out;
		transition: 1s ease-in-out;
	}
	.none{
		display: none;
	}
	.hide {
		transition-delay: 0.5s;
		transform: translateY(-100vh);
	}
	.button_home{
    	height: 257px;
		position: relative;
		z-index: 2;
	}
	.background_index{
		perspective: 340px;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	.stars_index {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2px;
		height: 2px;
		box-shadow: 834px 264px whitesmoke, -1163px 347px #f2f2f2, -1340px -293px #c7c7c7, 506px -437px #dbdbdb, -1329px -403px #fcfcfc, 1338px -338px #c2c2c2, 116px 397px #c2c2c2, 1480px -90px #fafafa, 495px 243px #c9c9c9, 788px -119px #e0e0e0, 835px 224px #f0f0f0, 864px -409px #d9d9d9, -738px -129px #d9d9d9, 1463px 110px #fafafa, -306px -265px #c2c2c2, -313px 358px #cccccc, 533px 91px #d1d1d1, -1146px 366px #d1d1d1, -583px -352px #fcfcfc, 1113px 277px #ededed, 221px -11px #f7f7f7, 1405px -240px #c4c4c4, 464px 93px #f2f2f2, -404px -193px #e6e6e6, 1096px -397px #e6e6e6, 1406px -418px #f7f7f7, -143px -201px #e3e3e3, 148px -469px #e0e0e0, 142px -4px #cccccc, -1163px 289px #c4c4c4, -1154px -88px #cccccc, -46px -154px whitesmoke, 184px -298px whitesmoke, -195px -309px #c9c9c9, -980px 176px #d9d9d9, 667px 207px #fcfcfc, -622px 302px #dedede, -1430px -355px #cccccc, 718px 237px #f2f2f2, -815px -14px #f0f0f0, -1417px 427px #ededed, 713px 405px #e0e0e0, -973px -294px #e6e6e6, 799px 118px #e3e3e3, -492px 208px #d1d1d1, -459px -340px white, -683px -446px #ebebeb, 28px 193px #e6e6e6, 1190px -131px #dedede, 1266px 366px #f2f2f2, 776px -405px #d6d6d6, -433px 423px white, 1308px -140px #e6e6e6, 665px -193px #fcfcfc, -982px -177px #d4d4d4, -1106px 410px #c9c9c9, 131px -261px #f2f2f2, 492px -130px #fcfcfc, 1267px -122px #dbdbdb, -657px -132px #c7c7c7, -685px -3px #c9c9c9, 125px 192px #c9c9c9, 847px 224px #e0e0e0, 789px -339px #c9c9c9, -983px 258px #f7f7f7, 901px -385px #fafafa, -308px 17px #fcfcfc, 470px -296px #f2f2f2, -241px -466px #f2f2f2, -1450px 286px #d4d4d4, 1061px 39px #d6d6d6, 849px 402px #cfcfcf, -1118px 339px #cfcfcf, -1225px 438px #c9c9c9, 161px -461px #c2c2c2, -711px 68px white, -878px -384px #dedede, -567px -319px #dbdbdb, -730px 115px #e8e8e8, 1172px 348px #dedede, -962px -428px #f2f2f2, 974px -439px #e0e0e0, -354px 251px #ebebeb, -335px 241px #f0f0f0, 109px 289px #d4d4d4, 644px 66px #c7c7c7, -253px -268px #c4c4c4, 87px -77px #f0f0f0, -1255px -404px whitesmoke, 1280px 171px white, 1488px -187px #dedede, -972px 376px whitesmoke, 819px 401px #d4d4d4, -1385px -150px #d6d6d6, 842px 253px #c2c2c2, 359px 132px #fcfcfc, 95px -24px #c7c7c7, 430px -259px #e8e8e8, 1186px 392px #dedede, -389px 278px #c9c9c9, -1077px -187px #f2f2f2, -706px -285px #d9d9d9, -118px 227px #c9c9c9, 1485px -232px #e6e6e6, 658px 87px #fcfcfc, -644px -277px #e6e6e6, 86px -136px #dbdbdb, -1446px -256px #dbdbdb, -1092px 165px #c4c4c4, -506px 422px #f2f2f2, 880px -420px #d6d6d6, -969px -198px #c4c4c4, -599px -101px white, -262px 92px #d1d1d1, 542px -303px #dbdbdb, 186px 392px #cfcfcf, 416px 78px #d9d9d9, 355px -221px #c7c7c7, -701px 36px #f0f0f0, -1100px 308px #f2f2f2, 45px -141px #fafafa, -1484px 186px #f7f7f7, -923px 317px #cfcfcf, 271px -200px #cccccc, 658px 13px #ebebeb, 784px -405px #f0f0f0, 230px 110px #cccccc, 298px -7px #e8e8e8, -808px 164px #d1d1d1, 608px 281px #fafafa, 682px 438px #e3e3e3, 647px 88px whitesmoke, -544px -55px #c7c7c7, -774px -179px #e8e8e8, 1415px -380px #d1d1d1, -714px 279px #c9c9c9, 647px 13px #c9c9c9, 1282px 48px #ebebeb, -671px -446px #fafafa, 168px -301px #d1d1d1, 748px -192px #dedede, -1328px 180px #d6d6d6, 1255px -184px #e6e6e6, 1028px -164px white, 871px -263px #c7c7c7, 995px -314px #dedede, -978px -225px #fafafa, -407px 193px #e8e8e8, -510px 145px #d9d9d9, -1080px 385px #f0f0f0, -315px -23px #d1d1d1, 329px -397px #f7f7f7, -1445px -39px #dbdbdb, -749px -136px #c9c9c9, 1487px -54px #d9d9d9, 360px 358px #c2c2c2, 388px 333px #c7c7c7, 311px 478px #c2c2c2, 25px -371px #e6e6e6, -650px 455px #e8e8e8, 183px -141px #fcfcfc, 912px -74px #e3e3e3, 742px -82px #fcfcfc, -862px 305px #d1d1d1, 382px 48px white, 802px 436px #ebebeb, -1055px 51px #c4c4c4, 514px -424px #e8e8e8, -1183px 163px whitesmoke, -273px 26px #ebebeb, -922px -109px #e3e3e3, 1007px -416px #dedede, 42px -369px #c4c4c4, 229px 479px #e3e3e3, -477px -316px #fcfcfc, 615px -17px #f7f7f7, -1074px 29px #e6e6e6, 162px 162px #d6d6d6, 908px -150px #cfcfcf, 157px 27px #d9d9d9, -203px 372px #f0f0f0, -1347px 103px #ededed, -985px 44px #e3e3e3, -1344px 253px #cccccc, 86px -281px #c4c4c4, -1257px 3px #c2c2c2, -822px 67px #d4d4d4, 1257px -206px #dbdbdb, 943px 27px #c7c7c7, -18px -467px #d6d6d6, -1018px -442px #c7c7c7, -305px 25px #f7f7f7, -994px -294px #fcfcfc, 216px 397px #f0f0f0, -378px 371px #d1d1d1, -582px 400px #ededed, 405px -457px #cccccc, 1254px 274px #e6e6e6, -662px 82px #dbdbdb, 748px -227px whitesmoke, 1417px 259px whitesmoke, -1499px 24px #dbdbdb, -77px -54px #f2f2f2, 1004px -313px #fafafa, -275px 319px #fcfcfc, 828px -182px #c9c9c9, -693px 38px #ebebeb, 1019px -350px #d6d6d6, 724px 464px #c2c2c2, 378px -31px #e3e3e3, 725px 435px #c7c7c7, -27px 116px whitesmoke, -867px 203px #f7f7f7, -1113px -336px white, 621px -266px #d9d9d9, 746px -178px #c2c2c2, 436px -110px #e0e0e0, -1003px -463px #c9c9c9, -581px 477px #f2f2f2, 643px -14px #f2f2f2, 1483px -49px #ededed, 846px 5px #f2f2f2, 1453px 129px #d9d9d9, -137px -175px #d4d4d4, 454px -458px white, -1136px 337px #cccccc, -1049px 102px #e0e0e0, -219px -302px #dbdbdb, -1407px -19px #c4c4c4, 1335px -373px #c9c9c9, -1365px -233px #d1d1d1, -2px -365px #e3e3e3, -1096px -260px white, -1103px 12px #d9d9d9, 195px 480px #e0e0e0, 1224px -473px #ebebeb, -1325px 300px #d9d9d9, -1259px 401px #cccccc, -663px -213px #c4c4c4, -1052px -310px #cccccc, -264px -292px #d6d6d6, -500px -356px #fafafa, 1215px -9px #c2c2c2, 1096px -451px #f7f7f7, 396px 20px #c2c2c2, 865px -227px #d4d4d4, 1280px 470px #e0e0e0, 182px 68px #dbdbdb, -432px -70px #f0f0f0, 1496px 144px #ededed, -1022px 78px #dbdbdb, -681px 377px #c7c7c7, 729px 101px #ebebeb, 759px 165px #ededed, 944px 365px #f2f2f2, -1433px 1px #ededed, -1140px 238px #c2c2c2, -244px -244px #d1d1d1, -1151px 168px white, -1033px -186px whitesmoke, -7px -253px #f2f2f2, 557px -390px #fcfcfc, -1433px 445px #cccccc, -586px -53px #e8e8e8, -1324px 166px #ededed, -1408px 153px #e0e0e0, -1427px -232px #cfcfcf, -1443px -218px #d6d6d6, 942px -109px #f2f2f2, -1048px -116px #dbdbdb, 947px 258px #dedede, -899px -90px #d4d4d4, -1426px -409px #f0f0f0, -176px 77px #f7f7f7, -1271px 139px #c9c9c9, 564px 122px #ededed, 508px 358px #e6e6e6, -1198px 224px #e0e0e0, 73px 381px #ebebeb, 1132px -325px #d9d9d9, 457px -132px #e0e0e0, -1171px -217px #c4c4c4, -982px -341px #f7f7f7, 259px -208px #e3e3e3, 1491px 335px whitesmoke, 533px -386px #c2c2c2, 809px 401px #dedede, 1135px 428px #ebebeb, -1163px 346px #e6e6e6, -495px 437px #c9c9c9, -1103px -111px #f0f0f0, -416px 422px #c7c7c7, 102px -407px #dedede, 922px 199px #fafafa, 1013px 75px #e8e8e8, 222px 96px #e0e0e0, -1271px -349px #d9d9d9, 531px 449px #d6d6d6, -1016px -26px #dbdbdb, -844px 443px #c2c2c2, 795px 98px #c2c2c2, 156px 52px #c4c4c4, 39px 467px #fafafa, -253px -257px #ededed, -262px 103px #d4d4d4, 70px -342px #dbdbdb, 1366px 186px #dedede, -81px -410px #ededed, 388px 451px #e8e8e8, 1187px 34px #fafafa, -1230px -409px #c7c7c7, 1004px -452px #ebebeb, -598px -410px #d4d4d4, 1151px 339px #d1d1d1, -83px 470px #f2f2f2, 647px -83px #d1d1d1, -258px -310px #c2c2c2, 1365px -102px whitesmoke, 980px -194px #fafafa, -568px -413px #cccccc, 1474px -141px #f0f0f0, -102px -168px #fcfcfc, -1070px -110px #f0f0f0, -1031px -301px #c7c7c7, 1262px -215px #f7f7f7, -354px -115px #e6e6e6, -1476px -362px #cfcfcf, -1266px -69px #e3e3e3, -543px 422px #cccccc, -872px -147px #ededed, -840px -39px #c9c9c9, 647px 153px #cccccc, -231px -122px #e6e6e6, -39px -313px #f2f2f2, -817px -62px white, 900px -113px #cccccc, -1184px 406px #fafafa, 931px 120px #cccccc, -464px -72px #dbdbdb, -527px 400px #e8e8e8, -621px 183px #f0f0f0, -610px 359px #c4c4c4, -467px -149px #f0f0f0, -671px 416px #dbdbdb, 909px 290px #d6d6d6, -1347px 443px #cccccc, -313px 423px #d9d9d9, -958px -116px #d9d9d9, -1158px -443px #d6d6d6, 1181px 305px #e0e0e0, 1462px -380px #e3e3e3;
		animation: fly 3s linear infinite;
		transform-style: preserve-3d;
	}
	.stars_index:before, .stars_index:after {
		content: "";
		position: absolute;
		width: inherit;
		height: inherit;
		box-shadow: inherit;
	}
	.stars_index:before {
		transform: translateZ(-300px);
		animation: fade1 3s linear infinite;
	}
	.stars_index:after {
		transform: translateZ(-600px);
		animation: fade2 3s linear infinite;
	}

	@keyframes fly {
		from {
			transform: translateZ(0px);
		}
		to {
			transform: translateZ(300px);
		}
	}
	@keyframes fade1 {
		from {
			opacity: 0.5;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fade2 {
		from {
			opacity: 0;
		}
		to {
			opacity: 0.5;
		}
	}
</style>
<script>
	document.addEventListener('astro:page-load', () => {
		const button = document.getElementById('home');
		button!.addEventListener('click', () => {
			button!.style.display = "none";
			document.getElementById('indexLoader')!.style.display = "block";
			document.getElementById('containerLoader')!.classList.toggle('none');
			setTimeout(() => {
    			document.getElementById('containerLoader')!.classList.toggle('hide');
			}, 3000);
			setTimeout(() => {
				document.getElementById('test')?.click();
			}, 4150);
		});
  	}, { once: false });
</script>