---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import { ViewTransitions } from 'astro:transitions';
import StarsBackground from '../components/StarsBackground.astro';
import AnimatedCard from '../components/AnimatedCard.astro';
---
<ViewTransitions />
<Layout title="Jorge Valero portfolio | Technologies" >
    <section class="technologies">
        <h1>Tecnologías</h1>
        <div class="wrapper">
            <div class="item">
                <div class="">
                    <AnimatedCard>
                        <div slot="img" class="animated_card_img">
                            <img src="/images/logos/languages_light.png" alt="">
                        </div>
                        <div slot="content" class="animated_card_content">
                            <h3>
                                Lenguajes y maquetación
                            </h3>
                            <ul>
                                <li>
                                    HTML5
                                </li>
                                <li>
                                    CSS3
                                </li>
                                <li>
                                    JavaScript
                                </li>
                                <li>
                                    TypeScript
                                </li>
                                <li>
                                    Java
                                </li>
                                <li>
                                    Go
                                </li>
                                <li>
                                    PHP
                                </li>
                                <li>
                                    Dart
                                </li>
                                <li>
                                    Python
                                </li>
                                <li>
                                    Bash
                                </li>
                                <li>
                                    SQL
                                </li>
                            </ul>
                        </div>
                    </AnimatedCard>
                </div>
            </div>
            <div class="item">
                <div class="">
                    <AnimatedCard>
                        <div slot="img" class="animated_card_img">
                            <img src="/images/logos/framework_light.png" alt="">
                        </div>
                        <div slot="content" class="animated_card_content">
                            <h3>
                                Frameworks y bases de datos
                            </h3>
                            <ul>
                                <li>
                                    Angular
                                </li>
                                <li>
                                    Vue
                                </li>
                                <li>
                                    Astro
                                </li>
                                <li>
                                    React
                                </li>
                                <li>
                                    GinGonic
                                </li>
                                <li>
                                    Springboot
                                </li>
                                <li>
                                    PostgreSQL
                                </li>
                                <li>
                                    MongoDB
                                </li>
                            </ul>
                        </div>
                    </AnimatedCard>
                </div>
            </div>
            <div class="item">
                <div class="">
                    <AnimatedCard>
                        <div slot="img" class="animated_card_img">
                            <img src="/images/logos/tools_light.png" alt="">
                        </div>
                        <div slot="content" class="animated_card_content">
                            <h3>
                                Herramientas
                            </h3>
                            <ul>
                                <li>
                                    Docker
                                </li>
                                <li>
                                    Git
                                </li>
                                <li>
                                    Jira
                                </li>
                                <li>
                                    Trello
                                </li>
                                <li>
                                    Confluence
                                </li>
                                <li>
                                    Google docs
                                </li>
                                <li>
                                    Apache
                                </li>
                            </ul>
                        </div>
                    </AnimatedCard>
                </div>
            </div>
        </div>
        <div class="back_button" transition:name="back_button">
          <Button text='Atrás' href='/home'></Button>
        </div>
    </section>
    <StarsBackground></StarsBackground>
</Layout>
<style>
  .technologies {
    color: var(--primary_text);
    padding: 100px;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .wrapper {
    margin-top: 25px;
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
  }
  .item {
    color: #fff;
    display: grid;
    place-items: center;
  }
  .animated_card_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
    max-width: 125px;
  }
  .animated_card_content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
  }
  .animated_card_content ul {
     list-style:none;
     -webkit-user-select: none; /* Safari */
     -ms-user-select: none; /* IE 10 and IE 11 */
     user-select: none; /* Standard syntax */
   }
   .back_button {
     position: fixed;
     right: 15px;
     bottom: 15px;
     z-index: 2;
   }
    @media only screen and (max-width: 900px) {
        .technologies{
            padding: 80px 50px;
        }
        .back_button {
            position: fixed;
            right: 15px;
            top: 15px;
        }
    }
</style>