---
export interface Props {
    text: string;
}
const { text } = Astro.props;
---
<div class="btn">
    <p>{text}</p>
</div>

<style>
    .btn{
        background-color: var(--background);
        border: 1px solid var(--border);
        color: var(--text);
        min-width: 200px;
        height: 50px;
        cursor: pointer;
        transition: 0.5s;
    }
    .btn:hover{
        background-color: var(--hover_btn);
        border-color: var(--hover_btn);
        color: var(--background);
    }
    p{
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--btn_text_size);
    }
</style>