---
interface Props {
	title?: string;
	body: string;
	footer?: string;
	full_height?: boolean;
}

const { title, body, footer, full_height } = Astro.props;
---

<div class={`card simple ${full_height ? 'full_height' : ''}`}>
    <div class="content">
      <h2>{title}</h2>
      <p>{body}</p>
    </div>
    <div class="footer">
      <slot />
    </div>
  </div>
<style>
	.card {
		min-width: 150px;
		width: 100%;
		min-height: 150px;
		border: 2px solid var(--border);
		padding: 2rem 1rem;
		margin: 1rem;
		color: var(--text);
		background-color: var(--background);
	}
	.full_height{
		height: 100%;
	}
	.card h2 {
		color: var(--title_text);
		margin-bottom: 16px;
	}
	.simple {
		display: flex;
		flex-direction: column;
	}
	.simple .content {
		flex: 1 1 auto;
	}
	.simple .footer {
		margin-top: 16px;
		flex: 0;
	}
	@media only screen and (max-width: 900px) {
		.card {
			margin: 0rem;
		}
	}
</style>
