---
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--background: #13151a;
		--border: #6C6C6C;
		--hover_btn: #C7C7C7;
		--circle_shadow: rgba(108, 108, 108, 0.25);
		--primary_text: #F75049;
		--title_text: #C7C7C7;
		--text: #6C6C6C;
		--title_text_size: 36px;
		--subtitle_text_size: 30px;
		--subtitle_2_text_size: 22px;
		--normal_text_size: 18px;
		--title_text_size_mobile: 21px;
		--subtitle_text_size_mobile: 18px;
		--subtitle_2_text_size_mobile: 18px;
		--normal_text_size_mobile: 16px;
	}
	@font-face {
		font-family: 'Scada';
		src: url(/fonts/Scada-Regular.ttf) format('truetype');
	}
	h1 {
		font-size: var(--title_text_size);
	}
	h2 {
		font-size: var(--subtitle_text_size);
	}
	h3 {
		font-size: var(--subtitle_2_text_size);
	}
	p {
		font-size: var(--normal_text_size);
	}
	@media only screen and (max-width: 900px) {
		h1 {
			font-size: var(--title_text_size_mobile);
		}
		h2 {
			font-size: var(--subtitle_text_size_mobile);
		}
		h3 {
			font-size: var(--subtitle_2_text_size_mobile);
		}
		p {
			font-size: var(--normal_text_size_mobile);
		}
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		font-family: 'Scada', system-ui, sans-serif;
		background: var(--background);
		height: 100%;
	}
	body {
		height: 100%;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
